DATABASE_URL="postgresql://mimer_user:mimer_password@localhost:5432/mimer_db"
PORT=3333
OPENAI_API_KEY="YOUR_API_KEY" # Ill change this later for using database.
GEMINI_API_KEY="YOUR_API_KEY"

IA_PROVIDER="gemini"